.emporium {
  text-align: center;
  color: black;
  font-size: 20px;
}

ul li a {
  color: black;
  font-size: 10px;
}
ul li a:hover {
  color: #4e4e4e;
}

.shopAt {
  background-color: #f1f0f0e5;
}

.h3ShopAt {
  color: red;
}

.saleItems {
  border-radius: 50px;
  background-color: red;
  border-color: red;
}

.imgtext {
  position: relative;
}
.imgtext .centered {
  position: absolute;
  top: 50%;
  left: 40%;
  color: white;
  border-bottom: 1px white solid;
  text-decoration: none;
  font-size: 100%;
}

.saleGloves {
  background-color: red;
  border-radius: 50%;
  color: white;
  padding: 15px 7px;
  font-size: 12px;
}

.imgbackground {
  background-image: url("../images/cta-bg.jpg");
  background-size: cover;
  background-position-y: center;
  background-attachment: fixed;
  padding: 200px;
}

blog .carousel-indicators {
  left: 0;
  top: auto;
  bottom: -40px;
}
blog .carousel-indicators li {
  background: #a3a3a3;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}
blog .carousel-indicators .active {
  background: #707070;
}

.trusted {
  background-color: #f1f0f0e5;
}

.veryFast {
  background-color: red;
}

.trustedBy {
  background-color: #f1f0f0e5;
}

.footerColor {
  background-color: #212121;
}
.footerColor p {
  color: grey;
}
.footerColor h6 {
  color: grey;
}
.footerColor h6:hover {
  color: white;
}
.footerColor a {
  color: dark;
}
.footerColor h4 {
  text-align: left;
}

.footer2Color {
  background-color: #0a0a0a;
}
.footer2Color p {
  color: grey;
}

.borderFooter {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}
.borderFooter h6 {
  border-bottom: 1px solid grey;
  padding-bottom: 15px;
}

.footerA a {
  border: 1px solid grey;
  padding: 10px;
  font-size: 10px;
  color: grey;
}
.footerA a:hover {
  text-decoration: none;
  color: white;
}

.themeNoir {
  padding: 5px;
}

.themeWhite {
  padding: 5px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #FEFEFE;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.nav2 .nav .dropdown {
  position: relative;
  display: inline-block;
}
.nav2 .nav .dropdown:hover .dropdown-content {
  display: block;
}
.nav2 .nav .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #383838;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.nav2 .nav .dropdown .dropdown-content a {
  color: grey;
  padding: 10px;
  margin: 7px;
  text-decoration: none;
  display: block;
}
.nav2 .nav .dropdown .dropdown-content a:hover {
  background-color: #5c5c5c;
  color: white;
}

.saleItems {
  border-radius: 50px;
  color: white;
  padding: 10px;
}
.saleItems::after {
  content: ">";
  opacity: 0;
  transition: 0.5s ease;
}
.saleItems:hover {
  transition: all 0.5s ease;
  padding-right: 30px;
  background-color: black;
  border: 1px solid black;
}
.saleItems:hover::after {
  margin-left: 10px;
  opacity: 1;
}

.zoomeuuuh {
  overflow: hidden;
}

.mesZooms {
  transition: 0.3s ease-in-out;
}
.mesZooms:hover {
  transform: scale(1.1);
}

/*# sourceMappingURL=style.css.map */
