// navbar

.emporium 
    text-align: center 
    color: black
    font-size: 20px



ul 
    li 
        a 
            color: black
            font-size: 10px
            &:hover
                color: grey 

// Shop at
.shopAt
    background-color: #f1f0f0e5

.h3ShopAt 
    color: red    
 

.saleItems
    border-radius: 50px
    background-color: red 

.imgtext
    position: relative
    .centered
        position: absolute
        top: 50%
        left: 40%
        color: white
        border-bottom: 1px white solid
        text-decoration: none
        font-size: 100%

.saleGloves 
    background-color: red
    border-radius: 100%
    color: white
    padding: 10px

.imgbackground 
    background-image: url('../images/cta-bg.jpg')
    background-size: cover
    background-position-y: center
    position: sticky
    padding: 200px


blog .carousel-indicators
  left: 0
  top: auto
  bottom: -40px

  li
    background: #a3a3a3
    border-radius: 50%
    width: 8px
    height: 8px

  .active
    background: #707070


.trusted 
    background-color:  #f1f0f0e5
    


.veryFast 
    background-color: red 


.trustedBy 
    background-color:  #f1f0f0e5


.footerColor 
    background-color: #212121
    p 
        color: grey
    h6 
        color: grey
        &:hover
            color: white
    a 
        color: dark 
    h4 
        text-align: left
.footer2Color 
    background-color: #0a0a0a
    p 
        color: grey
.borderFooter
    border-left: 1px solid grey
    border-right: 1px solid grey
    h6 
        border-bottom: 1px solid grey
        padding-bottom: 15px
.footerA
    a
        border: 1px solid grey
        padding: 10px
        font-size: 10px
        &:hover
            text-decoration: none
            color: white
                



    